@model ToDo

<h2>Create To-Do Item</h2>
<br />
<div>
    <form asp-action="Create" method="post">
        <label asp-for="Name" class="control-label">To-Do Item: </label>
        <input placeholder="To-Do Item" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />

        <label asp-for="Description" class="control-label">To-Do Description: </label>
        <input placeholder="Description" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
        <br />

        <label asp-for="HoursNeeded" class="control-label">Hours Needed to Complete Task: </label>
        <input placeholder="Hours needed" asp-for="HoursNeeded" class="form-control" />
        <span asp-validation-for="HoursNeeded" class="text-danger"></span>
        <br />

        <p>Assign to:</p>
        <select asp-for="AssignedTo">
            <option value="" disabled selected hidden>Select Employee</option>
            @foreach (var e in Model.Employees)
            {
                <option value="@e.Id">@e.Name</option>
            }
        </select>
        <br />
        
        <input type="submit" value="Apply" />
    </form>
</div>