@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p style="font-weight:bold">Select "Employee/Task Lists" to edit or delete an employee or task</a>.</p>
</div>
